.bod{
    height: 1200px;
    width:1800px;
    background-color: black;
    animation-name: background;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
} 
@keyframes background{
     0%{
    background-color: rgb(250, 146, 146);
   }
   25%{
     background-color: rgb(204, 224, 94);
   }
   50%{
    background-color: rgb(19, 159, 26);
   }
   70%{
    background-color: rgb(13, 16, 171);
   }
   100%{
    background-color: rgb(237, 81, 14);
   }
}
