body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.transition{
    background-color: brown;
    border-radius: 50%;
  
    
    height: 400px;
    width: 522px;
    /* transition: all */
    transition-duration: 0.5s;
    transition-property:all ;
    transition-timing-function:ease-in-out;
    
}
.transition:hover{
    transform: translate(70px);
    background-color: rgb(13, 15, 15);
    transform: scale(2);
    transform: rotate(-23deg);
    transform: scaleY(4);
}
.green{
    background-color: green;
}
.pink{
    background-color: pink;
}
.blue{
    background-color: blue;
}